.cover{
  max-width: 1184px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 0 92px 0;
  width: 1184px;
}

@media screen and (max-width:1279px) {
  .cover{
      max-width: 1024px;
  }
}
@media screen and (max-width:1023px) {
  .cover{
      max-width: 768px;
      padding: 0 0 88px 0;
  }
}
@media screen and (max-width:767px) {
  .cover{
    max-width: 320px;
    padding: 0 0 64px 0;
  }
}